/* StakingCalculator.module.css */
.stakingCalculator {
  background-color: #1A1A1A;
  padding: 2rem;
  border-radius: 8px;
  max-width: 600px;
  margin: auto;
  text-align: center;
  box-shadow: 0 0 10px rgb(255, 217, 0); /* Тень с жёлтым оттенком */
}

.stakingCalculator h2 {
  color: #FFD700; /* Жёлтый */
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.stakingCalculator input,
.stakingCalculator select,
.stakingCalculator button {
  background-color: #0D0D0D;
  color: #FFFFFF;
  border: 1px solid #333333;
  padding: 0.75rem;
  margin: 0.5rem 0;
  width: 100%;
  font-size: 1rem;
  border-radius: 4px;
  transition: all 0.3s ease;
}
.stakingCalculator select:focus {
  background-color: #0d0d0d; /* Зелёный */
  border-color: #0d0d0d;
}


.stakingCalculator input:focus,
.stakingCalculator button:hover {
  background-color: #00FF99; /* Зелёный */
  border-color: #00FF99;
  color: #000000;
}

.stakingCalculator button {
  cursor: pointer;
  font-weight: bold;
}

.stakingCalculator .result {
  margin-top: 1rem;
  background-color: #333333;
  padding: 1rem;
  border-radius: 6px;
  color: #00FF99;
}
